<!DOCTYPE html>
<html lang="eng">
<head>
    <metat chatset="UTF-8">
    <title>Tank Build!</title>
</head>
    <body>
        <p>ok yeah</p>
        <form action="/printTanks" method="get">
            <select name="tank">
            <datalist id="tanks">
                {{$tank := .}}
                <option value="{{$tank.Name}}">{{$tank.Name}}</option>
                
            </select>
            <input type="submit">
        </form>
        <!-- keep in mind there is something better than div bit I forgot. -->
        <div>
            blah<br>
            <!-- <script>
            console.log("this is a js console log.");
            </script> -->
            <script type="text/javascript" src="public/app.js">console.log("this is a js console log.");</script>
        </div>    
    </body>
</html>