<!DOCTYPE html>
<html lang="eng">
<head>
    <metat chatset="UTF-8">
    <title>Tank Build!</title>
    <!-- <link rel=icon href="favicon.png" type="image/png"> -->
    <!-- <link rel="shortcut icon" href="./favicon.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cdcdcd">
    <meta name="theme-color" content="#cdcdcd">
</head>
    <body>
        <p>ok yeah</p>
        <form action="/printTanks" method="get">
            <select name="tank">
            <datalist id="tanks">
                {{$tank := .}}
                <option value="{{$tank.Name}}">{{$tank.Name}}</option>
                
            </select>
            <input type="submit">
        </form>
        <!-- keep in mind there is something better than div bit I forgot. -->
        <div>
            blah<br>
            <!-- <script>
            console.log("this is a js console log.");
            </script> -->
            <script type="text/javascript" src="public/app.js">console.log("this is a js console log.");</script>
        </div>    
    </body>
</html>